@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";
*{
  scrollbar-width: none;
 font-family: "Hubot Sans", sans-serif;
}
/* Erases standard easing hooks to make marquee movement perfectly uniform */
.portfolio-staggered-marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}

